.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 1rem 0;
    height: 335px;
}

.product-image {
    max-height: 200px;
    max-width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
.product-cntnt{
    text-align: center;
    height: 410px;
    width: 220px;
}
.product-description{
    height: 30px;
    overflow: hidden; /* taşacak kısımları gizle. */
    white-space: nowrap; /* alt satırı gösterme, alt satıra inme. */
    text-overflow: ellipsis; /* uzunsa sonuna üç nokta koy. */ 
}
.div-img{
    height: 205px;
    display: flex;
    width: auto;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}
.product-list-action {
display: flex;
flex-direction: column;
margin-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
padding-left:5%;
padding-right: 5%;
}
.product-price {
align-self: center;
}
.img-byt{
    display: flex;
    align-items: center !important;
    justify-content: center;
    width: 200px !important;
    height:290px !important;
    width: 100%;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.p-carousel-items-content{
    height: 400px !important;
}

.card {
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
    height: 390px;
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.product-list-detail {
    flex: 1 1 0;
}

.p-rating {
    margin: 0 0 .5rem 0;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;    
}

.product-list-action {
    display: flex;
    flex-direction: column;
}

.p-button {
    margin-bottom: .5rem;
}
.product-grid-item-top,.product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-md-4 {
    padding: 0.5rem!important;
}
.product-name{
    overflow: hidden; /* taşacak kısımları gizle. */
    white-space: nowrap; /* alt satırı gösterme, alt satıra inme. */
    text-overflow: ellipsis; /* uzunsa sonuna üç nokta koy. */ 
}
.product-button{
    width: 100%;
}
.add-basket{
    background: white;
    color: #f27a1a;
    border: solid 1px #f27a1a;
    border-radius: 3px;
    font-family: source_sans_proregular;
    font-weight: 600;
    overflow: hidden;
    margin: 0 0 9px 0;
    width: 100%;
    height: 32px;
    bottom: 10px;
    right: 9px;
    left: 9px;
    text-align: center;
    cursor: pointer;
}

.add-basket:hover{
    background-color: #f27a1a;
    color:#fff;
    transition: 00.6s;
}

.favori {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 40px;
    background-color: #fff;
    box-shadow: 0px 5px 10px #1687d933;
    z-index: 1;
    }
.favori:hover{
    background: rgb(238, 235, 234);
    transition: 1s;
    }
.favoriActive{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 50%;
    text-align: center;
    top: 5px;
    right: 5px;
    width: 40px;
    background:coral;
    height: 40px;
    box-shadow: 0px 5px 10px #1687d933;
    position: absolute;
    z-index: 1;
    }
.favoriActive:hover{
    background: rgb(216, 96, 56);
    transition: 1s;
    }
    .favoriActive i{
    color: #ffffff;
    font-size: x-large;
    }
.favori i {
    color: gray;
    font-size: x-large;
    }
.favori i:hover{
      color: coral;
      transition: 0.3s;
}
h5{
    color: coral;
}


a.buy-btn{
    border-color: #FF9800;
    color: #fff;
  }

  a.buy-btn{
    cursor: pointer;
    display:block;
    color:#212121;
    padding-right: 1px;
    padding-top: 2px;
    text-align:center;
    font-size: 18px;
    width:45px;
    height:45px;
    line-height:35px;
    border-radius:50%;
    border:1px solid #212121;
    transition: all 0.2s ease-in-out;
  }
  a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
    border-color: #FF9800;
    background: #FF9800;
    color: #fff;
    text-decoration:none;
  }
  .cart-container{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
.product-wrap{
    margin-top: 40px;
}